.jumbotron {
  background-image: url("http://cdn.history.com/sites/2/2014/01/kheti-tomb-P.jpeg");
  background-color: #17234e;
  margin-bottom: 0;

  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

.jumbotron {
  color: white;
  text-shadow: 4px 4px black;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  margin-bottom: 0;
}

.jumbotron-fluid {
  margin-bottom: 0em;
}

.display-3 {
  margin: 0;
  text-align: center;
}

.navbar-collapse.collapse {
  text-align: center; /* Set this */
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}

.navbar-nav {
  display: inline-block;
  float: none;
  margin: 0;
}

.navbar-nav > li {
  padding-left: 10px;
  padding-right: 10px;
}
