<!doctype html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/assets/about.css" type="text/css">
</head>

<header>
    <% include ../partials/header %>
</header>

<body>
   

<% include ../partials/bannerbar %>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>