<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/assets/bannerbar.css" type="text/css">
</head>



<body>
<% include ../partials/bannerbar %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

  <div class="container"> 
  <h2>Profile</h2>
  <p>About a year ago, a bit bored with my current line of work, I desperately began searching for something new. I had been in the service industry for seventeen years and had reached a plateau in job related growth. Tech had always interested me, but, being a part of the Humanities (I majored in theater), it seemed a strange and foreign world. Through various website tutorials, I dabbled in coding and realized that the very nature of coding is language. This opened up my eyes, serving as a bridge between my Humanities background and my desire to enter the Technology sphere. Eventually, my dabbling would lead me to Actualize coding bootcamp. I greatly enjoyed the experience and look forward to a much needed change in my career.</p>
  </div>


<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>