<html lang="en">
<head>
    <% include ../partials/head %>  
    <link rel="stylesheet" href="/assets/index.css" type="text/css">
</head>

<body>
  
    <div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
        <h1 class="cover-heading">Kevin Mitchell - Software Developer</h1>
          <ul class="nav masthead-nav">
            
            <li>
              <a href="/about">About</a>
            </li>

            <li>
              <a href="/resume">Resume</a>
            </li>
            <li>
              <a href="/resume">Blog</a>
            </li>
          </ul>
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand"></h3>

        </div>
      </div>

      <div class="inner cover">

        </div>
      </div>
    </div>
</div>
</div>
<footer>
  <% include ../partials/footer %> 
</footer>

</body>
</html>